- shed ||= 'sfbay'
- content_for :title do
  = "Good Eggs : #{shed}"

.gridster
  %ul
    %li{'data-row' => 1, 'data-col' => 1, 'data-sizex' => 4, 'data-sizey' => 1}
      %div{'data-id' => "product_counts_#{shed}", 'data-view' => 'Histogram', |
           'data-title' => 'Product Totals by Category', 'data-graphtype' => 'bar'}
    %li{'data-row' => 2, 'data-col' => 1, 'data-sizex' => 1, 'data-sizey' => 1}
      %div{'data-id' => "shed_#{shed}", 'data-view' => 'Text', 'data-title' => shed}
    %li{'data-row' => 2, 'data-col' => 2, 'data-sizex' => 1, 'data-sizey' => 1}
      %div{'data-id' => "product_categories_#{shed}", 'data-view' => 'Pie', 'data-title' => 'Product Categories'}
    %li{'data-row' => 2, 'data-col' => 3, 'data-sizex' => 1, 'data-sizey' => 1}
      %div{'data-id' => "organic_products_#{shed}", 'data-view' => 'Pie', 'data-title' => 'Organic Products'}
    %li{'data-row' => 2, 'data-col' => 4, 'data-sizex' => 1, 'data-sizey' => 1}
      %div{'data-id' => "organic_vendors_#{shed}", 'data-view' => 'Pie', 'data-title' => 'Organic Vendors'}
